// Home
.cf_home {
    padding-top: 30px;    
}

.cf_movies-sec {
    padding: 30px 0;
    
    &__header {
        @include flexCenterBetween;
        padding: 15px 0;
    }

    &__group {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 25px;
    }
}