// Header
.cf_head {
    height: 100vh;
    .slick {
        &-list, &-track {
            height: 100%;
        }
    }

    .slick-slide {
         > div {
            height: 100%;
         }
    }
} 

.cf_banner {
    position: relative;
    height: 100%;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.35);
    }

    &-img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        font-size: 0;
        img {
            object-fit: cover;
            height: 100%;
        }
    }

    &-content {
        position: relative;
        z-index: 5;
        color: #FFF;
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;

        &-info {
            position: relative;
            z-index: 5;
            flex: 1 0;

            * {
                color: #FFF;
            }
        }

        p {
            font-size: 14px;
            line-height: 24px;
            text-shadow: 5px 0 5px #000;
        }
        
    }
}